@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-VariableFont.ttf);
}

:root {
  --color-black: #2b2c2e;
  --color-gray-light: #9fa2a7;
  --color-gray-dark: #848689;
  --color-white: #fff;
  --transition: 0.5s;
  --padding-main: 0 10vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  min-height: 100vh;
  padding: 2vw 0;

  font-family: Inter, sans-serif;
  color: var(--color-black);
}

h1 {
  padding: var(--padding-main);
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

h5 {
  font-size: 1.4375rem;
  margin-bottom: 1.5rem;
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

/* ! Header */

header {
  margin-bottom: 6rem;
  text-align: center;
  padding: var(--padding-main);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header nav div {
  display: flex;
  gap: 1.5vw;
}

header nav div a {
  font-size: 0.875rem;
}

header nav > a:nth-of-type(1) {
  font-size: 1.5rem;
  font-weight: 700;
}

header nav > a:nth-of-type(2) {
  font-size: 1.0625rem;
  padding: 8px 60px;
  border: 1px solid var(--color-black);
  border-radius: 5px;
  transition: var(--transition);
}

header nav > a:nth-of-type(2):hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

/* ! Hero Section */

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 13rem;
}

.hero-section img {
  margin-bottom: 10.5rem;
}

.hero-content {
  padding: var(--padding-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4vw;
}

.hero-content > p {
  font-size: 1.3rem;
  line-height: 2rem;
}

.hero-content-right {
  display: flex;
  flex-direction: column;
  padding-right: 11vw;
}

.hero-content-right p:nth-of-type(1) {
  font-size: 3.8rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.hero-content-right p:nth-of-type(2) {
  font-size: 1.25rem;
  color: var(--color-gray-light);
}

/* ! Deliverables Section */

.deliverables-section {
  padding: var(--padding-main);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 8rem;

  background: url(./assets/images/home_deliverables.png) no-repeat 10vw;
  background-size: contain;
}

.deliverables-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 40vw;
}

.deliverables-item {
  display: flex;
  flex-direction: column;
}

.deliverables-item p {
  font-size: 1.3125rem;
  line-height: 1.625rem;
  color: var(--color-gray-dark);
}
