@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-VariableFont.ttf);
}

:root {
  --color-black: #2b2c2e;
  --color-gray-light: #9fa2a7;
  --color-white: #fff;
  --transition: 0.5s;
  --padding-main: 0 10vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  min-height: 100vh;
  padding: 2vw 0;

  font-family: Inter, sans-serif;
  color: var(--color-black);
}

h1 {
  padding: var(--padding-main);
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

h3 {
  font-size: 3.125rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 1.4375rem;
  margin-bottom: 1.5rem;
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

/* ! Header */

header {
  margin-bottom: 6rem;
  text-align: center;
  padding: var(--padding-main);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header nav div {
  display: flex;
  gap: 1.5vw;
}

header nav div a {
  font-size: 0.875rem;
}

header nav > a:nth-of-type(1) {
  font-size: 1.5rem;
  font-weight: 700;
}

header nav > a:nth-of-type(2) {
  font-size: 1.0625rem;
  padding: 8px 60px;
  border: 1px solid var(--color-black);
  border-radius: 5px;
  transition: var(--transition);
}

header nav > a:nth-of-type(2):hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

/* ! Hero Section */

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 13rem;
}

.hero-section img {
  margin-bottom: 10.5rem;
}

.hero-content {
  padding: var(--padding-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4vw;
}

.hero-content > p {
  font-size: 1.3rem;
  line-height: 2rem;
}

.hero-content-right {
  display: flex;
  flex-direction: column;
  padding-right: 11vw;
}

.hero-content-right p:nth-of-type(1) {
  font-size: 3.8rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.hero-content-right p:nth-of-type(2) {
  font-size: 1.25rem;
  color: var(--color-gray-light);
}

/* ! Deliverables Section */

.deliverables-section {
  padding: var(--padding-main);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 8rem;

  background: url(./assets/images/home_deliverables.png) no-repeat 10vw;
  background-size: contain;
}

.deliverables-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 40vw;
}

.deliverables-item {
  display: flex;
  flex-direction: column;
}

.deliverables-item p {
  font-size: 1.3125rem;
  line-height: 1.625rem;
  color: var(--color-gray-light);
}

/* ! Works Section */

.works-section {
  margin: var(--padding-main);
  background: url(./assets/images/home_how_it_works.png),
    var(--color-gray-light);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  margin-bottom: 8rem;
  padding: 3.5rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.works-section article {
  padding-right: 38vw;
}

.works-section article:nth-of-type(1) h3,
.works-section article:nth-of-type(2) h4 {
  margin-bottom: 1rem;
}

.works-section article:nth-of-type(1) ol {
  padding-left: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.works-section article:nth-of-type(1) li,
.works-section article:nth-of-type(2) p {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* ! Critique Section */

.critique-section {
  margin-bottom: 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.critique-section h3 {
  margin-bottom: 2.75rem;
}

.critique-section > p {
  font-size: 1rem;
  color: var(--color-gray-light);
  padding: 0 30vw;
  line-height: 2rem;
  margin-bottom: 8rem;
}

.critique-content-bottom {
  display: flex;
  flex-direction: column;
  padding: 5vw 0 10vw 10vw;
  width: 80%;
  margin-top: -3rem;

  background: url(./assets/images/home_conversion.png) no-repeat right top;
  background-size: 42vw;

  border-bottom: 1px solid var(--color-gray-light);
}

.critique-content-bottom p {
  font-size: 1.25rem;
  line-height: 2.5rem;
  text-align: left;
  color: var(--color-gray-light);
}

/* ! Footer */

footer {
  padding: var(--padding-main);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer h4 {
  margin-bottom: 2.75rem;
}

.footer-bottom {
  display: flex;
  align-items: baseline;
  gap: 1vw;
}

.footer-bottom img {
  width: 5vw;
}

.footer-bottom p {
  color: var(--color-gray-light);
  font-size: 1rem;
}

.footer-bottom a {
  color: var(--color-black);
}
